## Python code randomly resample 1000 times from introns/ exons
###import packages and programs to python###
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import seaborn as sns

###open PhyloP score file of 5'UTR of 3' transcripts of CACNA1F###
dfu = pd.read_csv('1f_comb_5utr.csv')
### calculate median PhyloP score of 5'UTR###
median= np.median(dfu.Score)
print(median)

###open PhyloP score file of exons###
FET = pd.read_csv("1f_comb_exonT.csv")
FEC = pd.read_csv("1f_comb_exonC.csv")
FEG = pd.read_csv("1f_comb_exonG.csv")
FEA = pd.read_csv("1f_comb_exonA.csv")

###Random resampling###
boot_sample_mediansE = []
for i in range (1000):
    FETS = FET.groupby('Base').apply(lambda x:x.sample(11))
    FECS = FEC.groupby('Base').apply(lambda x:x.sample(12))
    FEGS = FEG.groupby('Base').apply(lambda x:x.sample(6))
    FEAS = FEA.groupby('Base').apply(lambda x:x.sample(7))
    frames= [FETS, FECS, FEGS, FEAS]
    fexonboot = pd.concat(frames, keys=["FETS","FECS","FEGS","FEAS"], ignore_index=True, sort=False)
    boot_medianE = np.median(fexonboot.Score)
    boot_sample_mediansE.append(boot_medianE)
median_median = np.median(boot_sample_mediansE) ###calculate median 
median_stdE = np.std(boot_sample_mediansE) ###calculate standard deviation
boot_median_CIE = np.percentile(boot_sample_mediansE, [2.5, 97.5]) #95%CI
print(boot_median_CIE)
print(median_stdE)
print(median_median)
###create figure###
plt.hist(boot_sample_mediansE, alpha = 1, color = 'grey')
plt.axvline(np.percentile(boot_sample_mediansE,2.5), color = 'blue',linewidth=2)
plt.axvline(np.percentile(boot_sample_mediansE,97.5), color = 'blue', linewidth = 2)
plt.axvline(median_median, color = 'black', linewidth = 2)
plt.axvline(4.95, color = 'purple', linewidth = 2)
plt.xlabel("Median PhyloP score")
plt.ylabel("Resamples")

###open Phylop score file of introns###
FIT = pd.read_csv("1FintronT.csv")
FIC = pd.read_csv("1FintronC.csv")
FIG = pd.read_csv("1FintronG.csv")
FIA = pd.read_csv("1FintronA.csv")

###Random resampling###
boot_sample_medians = []
for i in range (1000):
    FITS = FIT.groupby('Base').apply(lambda x:x.sample(11))
    FICS = FIC.groupby('Base').apply(lambda x:x.sample(12))
    FIGS = FIG.groupby('Base').apply(lambda x:x.sample(6))
    FIAS = FIA.groupby('Base').apply(lambda x:x.sample(7))
    frames= [FITS, FICS, FIGS, FIAS]
    fintronboot = pd.concat(frames, keys=["FITS","FICS","FIGS","FIAS"], ignore_index=True, sort=False)
    boot_median = np.median(fintronboot.Score)
    boot_sample_medians.append(boot_median)     
print(fintronboot)
median_median = np.median(boot_sample_medians) ###calculate median
median_std = np.std(boot_sample_medians) ###calculate standard deviation
boot_median_CI = np.percentile(boot_sample_medians, [2.5, 97.5]) #95%CI
print(median_median)
print(boot_median_CI)
print(median_std)
###create figure###
plt.hist(boot_sample_medians, alpha = 1, color = 'grey')
plt.axvline(np.percentile(boot_sample_medians,2.5), color = 'blue',linewidth=2)
plt.axvline(np.percentile(boot_sample_medians,97.5), color = 'blue', linewidth = 2)
plt.axvline(median_median, color = 'black', linewidth = 2)
plt.axvline(4.95, color = 'purple', linewidth = 2)
plt.xlabel("Median PhyloP score")
plt.ylabel("Resamples")

###Import packages and programs to python###
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import seaborn as sns
import matplotlip.patheffects as path_effects
from utils import *
from scipy.stats import mannwhitneyu, normaltest
import statannot as statannot
from statannot import add_stat_annotation
from statannotations.Annotator import Annotator


###read exon expression file in csv###
F = pd.read_csv("1f gtex 40 41 42 sum expression level.csv")
sns.set_theme(style="ticks")
f, ax = plt.subplots(figsize=(8,9))
ax.set_yscale(“log”)
sns.set_theme(style=”ticks”)
sns.set(font_scale = 1.5)

# Plot the orbital period with horizontal boxes
x = “Tissue type”
y = “Level”
hue = “Exon”
order = [‘Not brain’, ‘Brain’]
f2 = sns.boxplot(data=F, x=x, y=y, hue=hue, order=order, palette=”vlag”, width = 0.8)
f2.set_xticklabels(f2.get_xticklabels(), rotation=40, ha=”right”)
plt.subplots_adjust(wspace=2, hspace=6)
plt.tight_layout()
add_stat_annotation(f2, data=F, x=x, y=y, hue=hue, order=order, box_pairs=[((“Not brain”, “Exon 40”), (“Not brain”, “Exon 41)), ((“Not brain”, “ Exon 41”), (“Not brain”, “Exon 42)), ((“Not brain”, “Exon 40), (“Not brain”, “Exon 42”)), ((“Brain”, “Exon 40”), (“Brain”, “Exon 41)), ((“Brain”, “ Exon 41”), (“Brain”, “Exon 42)), ((“Brain”, “Exon 40), (“Brain”, “Exon 42”))], test=”Mann-Whitney”, text_format=”star”, loc=”inside”, verbose = 2).
plt.legend(loc=”upper left”, bbox_to_anchor=(1.30, 1))
f2.yaxis.grid(False)
f2.xaxis.grid(False)
f2.set(yscale=”log”)
f2.set(ylabel=”Log10 (expression level)”)
sns.despine(trim=True, left=True)


###Plot the fold changes###
Ffold = pd.read_csv("1f fold change 40 41 42.csv") ###import foldchange data in csv file###
gfold1 = sns.catplot(x="Exon", y="Fold change", col="Tissue type",
                data=Ffold, kind="box", palette="vlag",
                height=6, aspect=.7)
gfold1.set(ylabel="Fold Change of Exon Expression")
gfold1.set(xlabel="Exon")
